# Disable npm scripts like `prepare` for security reasons
# https://docs.npmjs.com/cli/v11/using-npm/config#ignore-scripts
ignore-scripts=true

# From https://mochajs.org/explainers/nodejs-native-esm-support/#current-limitations
#
# > Mocha in Node.js version 24.4.0 or older silently ignored top level errors in ESM files https://github.com/mochajs/mocha/issues/5396.
# > If you cannot upgrade to a newer Node.js version,
# > you can add `--no-experimental-require-module` to the `NODE_OPTIONS` environment variable.
#
# Might be safely removed in the future once we require Node.js v26 or newer.
#
# https://docs.npmjs.com/cli/v11/using-npm/config#node-options
node-options=--no-experimental-require-module
